{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8 ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="navbar">
			
			<a href="{% url 'index' %}">Home</a>
		    <a href="#">About</a>
		    <a href="{% url 'signup' %}">Sign-in</a>
		    <a href="{% url 'display_form' %}">Account</a>
		    
	    </div>

       <div class="container2"> 
		    <div class="cards">
			
			    <h1>strawberries</h1>
			    <img src="{% static 'img/logoabout.png' %}">
			    <p>strawberries always fills your heart with joy.Always good for your heart.It tastes little bit sour.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes</p>
				
			    <a href="https://kids.britannica.com/kids/article/strawberry/433049#:~:text=Strawberries%20are%20red%2C%20heart-shaped%20fruits.%20They%20are%20eaten,as%20a%20filling%20for%20pastries%2C%20pies%2C%20and%20cakes.">READ MORE</a>
		    </div>
        
		    <div class="cards">
			
			    <h1>strawberries</h1>
			    <img src="{% static 'img/ss.jpg' %}">
			    <p>strawberries always fills your heart with joy.Always good for your heart.It tastes little bit sour.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes</p>
				
			    <a href="https://kids.britannica.com/kids/article/strawberry/433049#:~:text=Strawberries%20are%20red%2C%20heart-shaped%20fruits.%20They%20are%20eaten,as%20a%20filling%20for%20pastries%2C%20pies%2C%20and%20cakes.">READ MORE</a>
		    </div>


		    <div class="cards">
			
			    <h1>strawberries</h1>
			    <img src="{% static 'img/ss2.jpg' %}">
			    <p>strawberries always fills your heart with joy.Always good for your heart.It tastes little bit sour.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes</p>
				
			    <a href="https://kids.britannica.com/kids/article/strawberry/433049#:~:text=Strawberries%20are%20red%2C%20heart-shaped%20fruits.%20They%20are%20eaten,as%20a%20filling%20for%20pastries%2C%20pies%2C%20and%20cakes.">READ MORE</a>
		    </div>
        </div>

		<div class="image">
			<img src="{% static 'img/feature.png' %}">
			
		</div>	




<!----------------about us----------------->





		<div class="about">
			<h2>About Us</h2>
			<p>strawberries always fills your heart with joy.Always good for your heart.It tastes little bit sour.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes.Strawberries are red, heart-shaped fruits. They are eaten fresh, often with cream. They are also used as a filling for pastries, pies, and cakes</p>
			
		</div>
		


	</div>
		

</body>
</html>