{% load static %}
{% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8 ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="navbar">
			
			<a href="{% url 'index' %}">Home</a>
		    <a href="#">About</a>
		    <a href="{% url 'signup' %}">Sign-in</a>
		    <a href="{% url 'display_form' %}">Account</a>
		    
	    </div>




	<!---------------registration form---------->




        <div class="registration-form">
        	<h1>Modify account data</h1>
        	<form action="" enctype="multipart/form-data" method=""> 
        		
        		{% csrf_token %}

        		


        		<p>First Name</p>
      		    <input type="text" name="firstname" placeholder="Firstname" value="{{ obj.firstname }}">

      		    <!-- <p>Last Name</p>
      		    <input type="text" name="lastname" placeholder="Lastname" id="lname">

      		    <p>Email</p>
      		    <input type="email" name="email" placeholder="Email" id="email">

      		    <p>User Name</p>
      		    <input type="text" name="username" placeholder="Username" id="username">

      		    <p>Password</p>
      		    <input type="password" name="password" placeholder="Password" id="password"><br>

      		    <p>upload image</p>
      		    <input type="file" name="image" accept="image/png,image/jpeg" placeholder="upload from device" id="image"><br> -->

      		    <button type="submit">Submit</button>     		
      	    </form>
      	</div>
        


      		     		
      	
    </div>
